# Vite
dist
.vite

# Node
node_modules
package-lock.json
npm-debug.log

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Build
public
.cache
.gatsby

# Misc
.eslintcache
